[Service]
ExecStart=/usr/bin/nodejs index.js
Restart=always
StandardOutput=syslog
SyslogIdentifier=dsc-gateway
User=dsc-gateway
Group=dsc-gateway
WorkingDirectory=/home/dsc-gateway/dsc-gateway/

[Install]
WantedBy=multi-user.target
