[Service]
ExecStart=/usr/bin/nodejs index.js
Restart=always
StandardOutput=syslog
SyslogIdentifier=dsc
User=dsc
Group=dsc
#Environment=NODE_ENV=production
WorkingDirectory=/home/dsc/dsc/

[Install]
WantedBy=multi-user.target
Alias=dsc.service
