[Service]
ExecStart=/usr/bin/nodejs index.js
Restart=always
StandardOutput=syslog
SyslogIdentifier=dsc-gateway
User=dsc-gateway
Group=dsc-gateway
#Environment=NODE_ENV=production
WorkingDirectory=/home/dsc-gateway/dsc-gateway/

[Install]
WantedBy=multi-user.target
Alias=dsc.service
